{block content}
<h1 n:block=title><i class="fa fa-address-card-o" aria-hidden="true"></i> Customers</h1>
<a class="btn btn-success" href="{plink Customers:add}"><i class="fa fa-plus" aria-hidden="true"></i> Add customer</a>
<br /><br /><br />

{control customerTable}
{/block}
