Results: {$rowsCount}

{control paginator}
{form massSelectionForm}
	<div class="table-responsive">
		<table class="table table-hover table-middle">		
			<thead> 
				<tr> 
					<th>
						<span data-toggle="tooltip" title="Mass deletion. For selection iversion click here.">
							<a href="#" data-check-all=".massSelectionSelectbox">X</a>
						</span>
					</th>
					<th class="text-center"><a href="{link order id}">#</a></th>		
					<th>Customer</th>
					<th><a href="{link order name}">Name</a></th>
					<th>Description</th>
					<th><a href="{link order Price}">Price</a></th>
					<th></th>			
				</tr> 
			</thead> 
			<tbody>
				{foreach $rowsQuery as $row}
					<tr>
						<td><input n:name="id" value="{$row->id}" /></td> 
						<th scope="row" class="text-center">{$row->id}</th> 
						<td>
							{if $customer = $row->ref('customer', 'customer_id')}
								{$customer->name} {$customer->surname} 
							{/if}
						</td> 
						<td>{$row->name}</td> 
						<td>{$row->description}</td> 
						<td>{$row->price|number:2:'.':' '} &euro;</td> 
						<td>
							<div class="btn-group-vertical" role="group" aria-label="Action">
								<a href="{plink Invoices:edit $row->id}" class="btn btn-success">
									<i class="fa fa-pencil" aria-hidden="true"></i>  Edit
								</a>
								<a href="{plink Invoices:export $row->id}" class="btn btn-info">
									<i class="fa fa-file-pdf-o" aria-hidden="true"></i> Export
								</a>
							</div>
						</td> 
					</tr> 	
				{/foreach}		
			</tbody>
		</table>
	</div>		
				
	{input delete, data-toggle => "tooltip", title => "Remove items permanently!"}
{/form}
{control paginator}