{block content}
<h1 n:block=title><i class="fa fa-file-text-o" aria-hidden="true"></i> Invoices</h1>
<a class="btn btn-success" href="{plink Invoices:add}"><i class="fa fa-plus" aria-hidden="true"></i> Add invoice</a>
<br /><br /><br />

{control invoiceTable}
{/block}
